
<%= form_tag( new_user_registration_path, :method => :get ) do |f| %>
  
    <div class="form-group">
      <%= select_tag "fb_agency", options_from_collection_for_select(Agency.all, :id, :name), prompt: "Please select your Agency" %>
    </div>
  
    <div class="actions">
      <%= submit_tag "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>