<h3>Confirm Delete</h3>
<p class="text-danger">Are you sure you want to delete <strong><%= full_name(@user).upcase %></strong>?</p>

<%= link_to "Cancel", user_path(@user), class: 'text-primary'%>
<br>
<br>
<%= button_to "Delete", user_path(@user), :method => "delete", :class => "btn btn-danger btn-sm" %>
