<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://fbcd.co/product-lg/c17b9daec455152971f393ca3a01a0ad_resize.jpg">
  </div>
  <h1 align="center">Welcome to Talent Shepherd!</h1>
</div>