<h3>Confirm Delete</h3>
<p class="text-danger">Are you sure you want to delete 
<strong><%= full_name(@appointment.actor).upcase %>'S</strong> appointment for
<strong><%= @appointment.project.name.upcase %></strong>?</p>




<%= link_to "Cancel", appointment_path(@appointment), class: 'text-primary'%>
<br>
<br>
<%= button_to "Delete", appointment_path(@appointment), :method => "delete", :class => "btn btn-danger btn-sm" %>
